{% extends "base.html" %}
{% load static %}
{% block content %}

<!--{{ object.cart }}-->
{% if not billing_profile %}
    <div class='row text-center'>
        <div class='col-12 col-md-6'>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class='col-12 col-md-6'>


            {% url "guest_register" as guest_register_url %}
            {% include 'accounts/snippets/form_guest.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}


        </div>
    </div>
{% else %}
    {% if not object.shipping_address %}
        {% if address_qs.exists %}
             <div class='row'>
                <div class='col-12 col-md-6'>
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' name='Livraison' %}'
                </div>
                <div class='col-12 col-md-6'>
                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse name='Livraison' %}
                </div>
            </div>
        {% else %}
             <div class='row'>
                <div class='col-12'>


                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}'


                </div>
            </div>
        {% endif %}
    {% elif not object.billing_address %}
        {% if address_qs.exists %}
             <div class='row'>
                <div class='col-12 col-md-6'>
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' name='Facturation' %}
                </div>
                <div class='col-12 col-md-6'>
                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse name='Livraison' %}
                </div>
            </div>
        {% else %}
             <div class='row'>
                <div class='col-12'>
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' name='Facturation' %}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container-fluid my-5 row justify-content-center">
        <div class="card shadow-lg" style="max-width: 900px">
            <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                <div class="col-12 col-sm-12 my-3 d-flex justify-content-center ">
                    {% include 'base/logo.html' %}
                </div>
                <div class="col-12 col-sm-12">
                    <p class="text-muted space mb-0 shop">No : <b>{{object.order_id}}</b></p>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-5">
                    <div>
                        <p class="card-header card-text text-muted mt-4 pt-2 space">LIVRAISON <small>  INFO</small></p>
                        <hr class="my-0">
                        <div class="row justify-content-between">
                            <div class="col-auto mt-0">
                                <p>Addresse de livraison: <b>{{ object.shipping_address.address_line_1 }}</b></p>
                                {% if object.shipping_address.address_line_2 %}
                                    <p>Addresse de livraison secondaire: <b>{{ object.shipping_address.address_line_2 }}</b></p>
                                {% endif %}
                                {% if object.shipping_address.city %}
                                    <p>Ville: <b>{{ object.shipping_address.city }}</b></p>
                                {% endif %}
                                {% if object.shipping_address.state %}
                                    <p>Region: <b>{{ object.shipping_address.state }}</b></p>                                        {% endif %}
                                {% if object.shipping_address.postal_code %}
                                    <p>Code Postal: <b>{{ object.shipping_address.postal_code }}</b></p>
                                {% endif %}
                                {% if object.shipping_address.country %}
                                    <p>Pays: <b>{{ object.shipping_address.country }}</b></p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="text-muted mb-2 card-header">PAYMENT <small>INFO</small></p>
                        <div class="row justify-content-between">
                            <p>Addresse de livraison: <b>{{ object.billing_address.address_line_1 }}</b></p>
                            {% if object.billing_address.address_line_2 %}
                                <p>Addresse de livraison secondaire: <b>{{ object.billing_address.address_line_2 }}</b></p>
                            {% endif %}
                            {% if object.billing_address.city %}
                                <p>Ville: <b>{{ object.billing_address.city }}</b></p>
                            {% endif %}
                            {% if object.billing_address.state %}
                                <p>Region: <b>{{ object.billing_address.state }}</b></p>                                        {% endif %}
                            {% if object.billing_address.postal_code %}
                                <p>Code Postal: <b>{{ object.billing_address.postal_code }}</b></p>
                            {% endif %}
                            {% if object.billing_address.country %}
                                <p>Pays: <b>{{ object.billing_address.country }}</b></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div >
                            <p class="card-header card-text text-muted mt-4 pt-2 space"><b>VOTRE COMMANDE</b> </p>

                        <div class="card-body pt-2">

                            {% for product in object.cart.products.all %}
                                <div class="row justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row">
                                            <img class=" img-fluid" src="{{ product.image.url }}" width="62" height="62">
                                            <div class="media-body my-auto">
                                                <div class="row ">
                                                    <div class="col-auto">
                                                        <p class="mb-0"><b>{{ product.title }}</b></p><small class="text-muted">{{ object.description|linebreaks|truncatewords:10 }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto">
                                        <p class="boxed-1">2</p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                        <p><b>{{ product.price }}</b></p>
                                        <small class="text-muted">par unité</small>
                                    </div>
                                </div>
                                {% if not forloop.last %} <hr> {% endif %}
                            {% endfor %}

                            <div class="row ">
                                <div class="col">
                                    <div class="row justify-content-between">
                                        <div class="col-4">
                                            <p class="mb-1"><b>Subtotal</b></p>
                                        </div>
                                        <div class="flex-sm-col col-auto">
                                            <p class="mb-1"><b>{{ object.cart.total }} &euro;</b></p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <p class="mb-1"><b>Frais livraisn</b></p>
                                        </div>
                                        <div class="flex-sm-col col-auto">
                                            <p class="mb-1"><b>{{ shipping_total }} &euro;</b></p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col-4">
                                            <p><b>Total</b></p>
                                        </div>
                                        <div class="flex-sm-col col-auto">
                                            <p class="mb-1"><b>{{ object.total }} &euro;</b></p>
                                        </div>
                                    </div>
                                    <hr class="my-0">
                                </div>
                            </div>
    <!--                                <div class="row mb-5 mt-4 ">-->
    <!--                                    <div class="col-md-7 col-lg-6 mx-auto"><button type="button" class="btn btn-block btn-outline-primary btn-lg">ADD GIFT CODE</button></div>-->
    <!--                                </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-md-5">
                <div class="col">
                            <form class='form' method='POST' action="{% url 'carts:success' %}">{% csrf_token %}
                                <button type="submit" name="" id="" class="btn btn-lg btn-block btn-success ">Terminer l'achat</button>
                            </form>
                        </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}