{% load static %}
{% url 'cart:home' as cart_url %}
{% url 'contact' as contact_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}


{% if request.user.is_authenticated %}
    <div class="d-flex justify-content-end flex-sm-row  justify-content-sm-around align-items-sm-center" style="display: inline-block">
        <a href="{{ cart_url }}" class="text-light text-decoration-none p-1">
          <img src="{% static 'img/icons/store/2x/outline_local_grocery_store_white_24dp.png' %}">
          <small class="text-success" style="position: relative;top: -10px; left: -2px;"> {{ request.session.cart_items }} </small>
<!--          <small class="text-success m-0 p-0" style="position: relative;top: -10px; left: -2px; font-size: 100px;"> . </small>-->
        </a>
        <!--    <span class="text-light  px-sm-3">|</span   >-->
        <div class="d-flex flex-column align-items-center p-1 m-0">
            <a class="nav-link  {% if request.path == login_url %}active{% endif %} text-light p-0" href="{{ logout_url }}">
              <img class="" src="{% static 'img/icons/account/2x/outline_person_outline_white_24dp.png' %}">
            </a>
        <!--            <span class="text-light px-1" >-->
        <!--                {{ request.user }}-->
        <!--            </span>-->
        </div>
    </div>
{% else %}
    <div class="d-flex flex-row  justify-content-around align-items-center" style="display: inline-block">
        <a href="{{ cart_url }}" class="text-light text-decoration-none">
          <img class="img-fluid" src="{% static 'img/icons/store/2x/outline_local_grocery_store_white_24dp.png' %}">
          <small class="text-success" style="position: relative;top: -10px; left: -2px;"> {{ request.session.cart_items }} </small>
        </a>
        <!--    <span class="text-light  px-sm-3">|</span   >-->
        <div class="d-flex flex-column align-items-center p-0 m-0">
            <a class="nav-link text-light p-2 badge badge-danger text-wrap" href="{{ login_url }} " style="font-weight: 1000;">
        <!--                <img class="" src="{% static 'img/icons/account/1x/outline_person_outline_white_24dp.png' %}">-->
<!--                <span class="text-light p-0" >-->
<!--                    Se Connecter-->
<!--                 </span>-->
                <span>
                    Se Connecter
                 </span>
            </a>
        </div>
    </div>
{% endif %}

<!--    <span class="text-light  px-sm-3">|</span>-->
<!--    <a href="#" class="text-light text-decoration-none pl-2 "   >-->

<!--      <img src="{% static 'img/icons/heart/white-24dp/1x/outline_favorite_border_white_24dp.png' %}">-->

<!--    </a>-->
<!--    <span class="text-light  px-sm-3">|</span>-->
<!--    <a href="{% url 'contact' %}" class="text-light text-decoration-none">-->

<!--      <img class="" src="{% static 'img/icons/contact/1x/outline_contact_phone_white_24dp.png' %}">-->
<!--        <span class="text-light px-1" style="font-size: .5em; position: relative;bottom: -7px; left: 0;">          contact-->
<!--        </span>-->

<!--     </a>-->

</div>