{% load static %}
{% url 'cart:home' as cart_url %}

<div class="other-link" style="display: inline-block">
    <a href="{{ cart_url }}" class="text-light text-decoration-none px-1">

      <img class="pl-2 pr-2" src="{% static 'img/icons/store/1x/outline_local_grocery_store_white_24dp.png' %}">
      {{ request.session.cart_items }}
      Panier

    </a>
    <span class="text-light">|</span> 
    <div class="dropdown show d-inline">
      <span class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
        <img class="pl-2 pr-2" src="{% static 'img/icons/account/1x/outline_person_outline_white_24dp.png' %}"> 
        <span class="text-light">
          {% if request.user.is_authenticated  %} 
          {{ request.user }}
          {% else %}
          Se Connecter
          {% endif %}
        </span>
      </span>
    
      <div class="dropdown-menu bg-dark my-2" aria-labelledby="dropdownMenuLink">
        {% if request.user.is_authenticated %}
        <a class="nav-link text-light p-0" href="{{ logout_url }}">
          <img class="pl-2 pr-2" src="{% static 'img/icons/logout/1x/outline_logout_white_24dp.png' %}">
          logout
        </a>
        {% else %}
        <a class="nav-link text-light p-0" href="{{ login_url }}">
          <img class="pl-2 pr-2" src="{% static 'img/icons/login/1x/outline_login_white_24dp.png' %}">
          login
        </a>
        {% endif %}
      </div>
    </div>
</div>