{% load static %}

{% url 'home' as home_url %}
{% url 'freeProducts:list' as freeProducts_list_url %}
{% url 'offers:list' as offers_list_url %}
{% url 'freeProducts:featured' as freeProducts_featured_url %}
{% url 'products:featured' as products_featured_list_url %}
{% url 'products:featured' as products_featured_list_url %}
{% url 'ads:list' as ads_list_url %}
{% url 'ads:featured' as ads_featured_list_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %} 
{% url 'contact' as contact_url %}
{% url 'join_us'  as join_us_url %}



<div class="container-fluid">
    <nav class="navbar  navbar-light fixed-top p-0" style="background: #1b1b1b; height: 56px;">
        <div class="col-3 col-sm-5  col-md-6 m-0 p-0" >
            <div class="row m-0 p-0">
                <div class="col-0 col-sm-2">

                </div>
                <div class="col-10 col-sm-8 m-0 p-0">
                    {% include 'base/logo.html' %}
                </div>
                <div class="col-2 text-light">
<!--                    Enchère-->
                </div>
            </div>
        </div>
        <div class="col-5 col-sm-4 mx-0 px-2">
            {% include 'search/snippets/search-form.html' %}
        </div>
        <div class="col-4 col-sm-3  col-md-2 mx-0 px-0 ">
            <div class="row">
                <div col-4>

                </div>
                <div col-4>
                    {% include 'base/brand_card.html' %}
                </div>
                <div col-4>

                </div>
            </div>


        </div>
    </nav>
</div>
<div class="row fixed-top" style="margin-top: 55px;  ">
    <div class="col-12  col-sm-12  mx-0 px-0 navbar-light" >
        <ul class="navbar-nav  bg-light d-flex flex-row justify-content-center justify-content-sm-start m-0">

            <li class="nav-item px-2 px-sm-4 {% if request.path ==  offers_list_url %}active {% endif %} " >
                <a class="nav-link px-1" href="{% url 'offers:list' %}">Bon Plan</a>
            </li>
            <li class="nav-item px-2 px-sm-4 {% if request.path ==  products_featured_list_url %}active {% endif %}">
                <a class="nav-link px-1" href="{% url  'products:featured' %}">Boutique</a>
            </li>
            <li class="nav-item px-2 px-sm-4 {% if request.path ==  ads_list_url %}active{% endif %}" >
                <a class="nav-link px-1" href="{% url  'ads:list' %}">Annonces</a>
            </li>
            <div class="nav-item px-2 px-sm-4 {% if request.path ==  join_us_url %}active{% endif %}" >
                <a class="nav-link px-1" href="{% url 'join_us' %}">Rejoignez nous</a>
            </div>
        </ul>

    </div>
</div>
