
    <div class="col-6 col-sm-4 col-md-3 bg-light card card-product-grid" >
        <a href="{{ instance.get_absolute_url }}" class="text-decoration-none">
            {% if instance.image %}
                <img src="{{ instance.image.url }}" alt="{{ instance.title }}" class="img-fluid"> </a>
            {% endif %}

        <figcaption class="info-wrap">
            <a href="{{ instance.get_absolute_url }}" class="text-decoration-none title">{{ instance.title }}</a>
            <div class="price mt-1">{{ instance.price }} &euro;</div> <!-- price-wrap.// -->
        </figcaption>
    </div>