{% extends "base.html" %}
{% url 'login' as login_url %}
{% load static %}

{% block base_head %}
<title> S'enregistrer </title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto  bg-light" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">S'enregistrer</h4></header>
		<form class="container" action="{% url 'register' %}" method="post"> {%  csrf_token %}
            {{ form.as_p }}

            <div class="form-group my-2">
                <button type="submit" class="btn btn-primary btn-block"> S'enregistrer  </button>
            </div> <!-- form-group// -->
            <div class="form-group">
                <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> J'accepte les <a href="#">termes et conditions</a>  </div> </label>
            </div> <!-- form-group end.// -->
        </form>
      </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Vous avez un compte? <a href="{{ login_url }}">Connectez vous</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>

{% endblock %}