
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
<section class="section-content padding-y" style="min-height:84vh">
	<div class="card mx-auto  bg-light" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
          <h4 class="card-title mb-4">Continuer comme invité</h4>
          <form class="container" action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}' method="post"> {%  csrf_token %}
              {% if next_url %}
                <input type='hidden' name='next' value='{{ next_url }}' />
              {% endif %}
              {{ form.as_p }}
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Continuer  </button>
              </div>
          </form>
      </div>
    </div>
</section>